* {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

html {
	max-height: 100%
}

body {
	width: 800px;
	height: 200px;
	margin: auto;
	margin-top: 0px;
/* 
	border-radius: 50px;
	box-shadow: 50px 10px lightgray;
 */
}

#innerBox {
	margin: 20px;
}

#tagline { font-size: 80px }

.subscript { font-size: 20px }
