@ extends 'layout.html'

@ block content

div.info
	'<strong>Welcome to the world of Shots</strong>, where brevity and beauty reign supreme.'
	br
	a.subtext : "Look at how clean and easy web development is when it's distilled!"

table
	tr
		th : 'app.py'
		th : 'index.html'
	tr
		td
			"<a class='keyword'>from</a> flask <a class='keyword'>import</a> Flask"
			br
			"<a class='keyword'>from</a> shots <a class='keyword'>import</a> Shot"
			br 2
			'app = Flask(__name__)'
			br 2
			"<a class='preprocess'>@app.route</a>(<a class='string'>'/'</a>)"
			br
			"<a class='keyword'>def</a> index():"
			br
			"&nbsp;&nbsp;&nbsp;&nbsp;<a class='keyword'>return</a> Shot(<a class='string'>'index.html'</a>).render()"
			br 2
			"<a class='keyword'>if</a> __name__ == <a class='string'>'__main__'</a>:"
			br
			'&nbsp;&nbsp;&nbsp;&nbsp;app.run()'
		td
			"<a class='keyword'>head</a> <a class='symbol'>:</a> <a class='keyword'>title</a> <a class='symbol'>:</a> <a class='string'>'Shots'</a>"
			br
			"<a class='keyword'>body</a>"
			br
			"&nbsp;&nbsp;&nbsp;&nbsp;<a class='keyword'>div</a> <a class='string'>''</a>"
			br
			"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='string'>A Flask and some Shots...</a>"
			br
			"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='string'>What more could you need?</a>"
			br
			"&nbsp;&nbsp;&nbsp;&nbsp;<a class='symbol'>`</a>"
			br
			"<a class='symbol'>`</a>"

div.info.right : a.slogan href='http://github.com/davidsteinberg/shots' : em : 'Go ahead, give it a Shot.'

@ endblock
