replace "MYNAME" with "David Steinberg"

fetch "index.css"

title : Welcome!

div.row
	div.col-1
	div.col-10

		: Hi, this is a web page made by MYNAME
	
		br
	
		: Please click the link below

		br 2

		link "www.omniglot.com" : Writing Systems

		br 2
	
		div.row
			div.col-4
			div.col-4

				#waters - div
					h1 : Water World

					media "pond.png"
					media.smallPic path="lake.gif"

				div.minorDiv : This will be less prominent
			div.col-4
	div.col-1

fetch "http://code.jquery.com/jquery.js"
fetch "index.js"
